body{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}
.colorBtn:hover{
    background-color: #000;
}